.wrapper h1 {
  text-align: center;
}

.wrapper p {
  text-align: justify;
  text-indent: 1.5em;
}

.wrapper div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  width: max-content;
  margin: 0 auto;
  text-align: left;
}

p.article_text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.article_menu {
  float: left;
  width: max-content;
  height: 500px;
  margin-right: 20px;
}
